[Unit]
Description=Rin's Scripts Updater
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
ExecStart=/etc/Scripts/Website-Neo/

[Install]
WantedBy=multi-user.target
